scripts/weights
scripts/__pycache__
scripts/data/__pycache__
scripts/layers/__pycache__
scripts/layers/functions/__pycache__
scripts/layers/modules/__pycache__
scripts/utils/__pycache__
scripts/*.mp4
